@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  color: white;
}

a .underline {
  text-decoration-line: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
  background: -webkit-linear-gradient(
    303deg,
    rgba(255, 237, 70, 1) 0%,
    rgba(255, 126, 199, 1) 100%
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rectangle-gradient {
  background: rgb(183, 220, 255);
  background: linear-gradient(
    0deg,
    rgba(183, 220, 255, 1) 0%,
    rgba(255, 164, 246, 1) 100%
  );
}
.rectangle-gradient-hover {
  background: rgb(183, 220, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 237, 70, 1) 0%,
    rgba(255, 126, 199, 1) 100%
  );
}
.designer-box-gradient {
  background: rgb(183, 220, 255);
  background: linear-gradient(
    90deg,
    rgba(183, 220, 255, 1) 0%,
    rgba(255, 164, 246, 1) 100%
  );
}

.btn-gradient {
  background: rgb(183, 220, 255);
  background: linear-gradient(
    90deg,
    rgba(183, 220, 255, 1) 0%,
    rgba(255, 164, 246, 1) 100%
  );
}
.line-gradient {
  background: rgb(183, 220, 255);
  background: linear-gradient(
    180deg,
    rgba(183, 220, 255, 1) 0%,
    rgba(255, 164, 246, 1) 100%
  );
}

.cover-image {
  right: -7rem;
  top: -4rem;
}

input,
textarea,
select {
  padding: 8px;
  border-radius: 4px;
  background: #1e1e1e;
  width: 100%;
  margin: 0;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: rgb(85, 85, 85);
}
